.hero-right {
	// width: 80%;
	padding: 7rem;
	align-items: center;
	align-content: center;
	padding-left: 20rem;
	overflow-x: hidden;
	@media (max-width: 800px) {
		padding: 4rem;
	}
	@media (max-width: 500px) {
		padding: 5rem 1rem;
	}
}
