.who-i-am {
	padding: 2rem 0 0.5rem 0;
	h1 {
		font-size: clamp(2.2rem, 5vh, 3.2rem);
		span {
			color: $text-c-dm-2;
		}
	}
	p {
		padding: 1rem 0;
		color: $text-c-dm-3;
		font-size: clamp(0.8rem, 1vh, 1rem);
	}
	.center-btns {
		@include center-flex;
		justify-content: start;
		gap: 1rem;
		padding: 1rem 0;
		.btn {
			font-size: 1rem;
			padding: 0.5em 1em;
			cursor: pointer;
			border-radius: 5px;
			color: $text-c-dark-mode;
			font-weight: 600;
		}
		.btn1 {
			background: #2c2c2c;
			border: 2px solid transparent;
		}
		.btn2 {
			background: 0;
			border: 2px solid #2c2c2c;
			i {
				padding-right: 0.6rem;
			}
		}
	}
}
