@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #09090b;
  color: #fafafa;
  overflow-x: hidden;
}

main {
  max-width: 1400px;
}

.hero-container {
  display: flex;
  position: relative;
}

.hero-right {
  width: 80%;
  padding: 7rem;
  padding: clamp(2rem, 15vh, 7rem);
}

.hero-left {
  width: 20%;
  background: #1c1c1c;
  min-height: 100vh;
  padding: 0.5rem 0.4rem;
}
@media (max-width: 800px) {
  .hero-left {
    display: none;
  }
}
.hero-left .profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 1rem;
}
.hero-left .profile .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.hero-left .profile .profile-pic img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.hero-left .profile .content h1,
.hero-left .profile .content h2 {
  font-size: 1rem;
  line-height: 1.5;
}
.hero-left .profile .content h2 {
  color: #a1a1aa;
}
.hero-left button {
  background: 0;
  border: 0;
  font-size: 1rem;
  padding: 1em;
  color: #a1a1aa;
  display: block;
}
.hero-left button i {
  color: #a1a1aa;
  margin-right: 0.4rem;
}
.hero-left button .space {
  margin-left: 2rem;
}

.who-i-am h1 {
  font-size: 3rem;
}
.who-i-am h1 span {
  color: #a1a1aa;
}
.who-i-am p {
  padding: 1rem 0;
  color: #a3a3a3;
  font-size: 1.2rem;
}
.who-i-am .center-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 0;
}
.who-i-am .center-btns .btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  color: #fafafa;
  font-weight: 600;
}
.who-i-am .center-btns .btn1 {
  background: #2c2c2c;
  border: 2px solid transparent;
}
.who-i-am .center-btns .btn2 {
  background: 0;
  border: 2px solid #2c2c2c;
}
.who-i-am .center-btns .btn2 i {
  padding-right: 0.6rem;
}

.latest-releases {
  padding: 2rem 0;
}
.latest-releases h1 {
  font-size: 1.3rem;
}
.latest-releases .new-drops {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}
.latest-releases .new-drops .new-drop {
  height: 24rem;
  border: 1px solid #2c2c2c;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.latest-releases .new-drops .new-drop img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  height: 70%;
}
.latest-releases .new-drops .new-drop .drop {
  padding: 1rem;
}

.thoughts-container {
  width: 100%;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
}
.thoughts-container .samebcc {
  height: 75%;
  width: 100%;
}
.thoughts-container .samebcc h1 {
  font-size: 1rem;
  padding: 1rem;
}
.thoughts-container .samebcc p {
  padding: 0 1rem;
  color: #a3a3a3;
  font-size: 1rem;
}
.thoughts-container .samebcc .skills-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 1rem;
}
@media (max-width: 1070px) {
  .thoughts-container .samebcc .skills-column {
    grid-template-columns: 1fr;
  }
}
.thoughts-container .samebcc .skills-column .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 2rem;
}
.thoughts-container .samebcc .skills-column .skills .skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thoughts-container .samebcc .skills-column .skills .skill-icon i {
  font-size: 1.5rem;
}
.thoughts-container .samebcc .skills-column .skills .skill-text h2 {
  font-size: 1.1rem;
}
.thoughts-container .samebcc .skills-column .skills .skill-text p {
  font-size: 1rem;
  color: #a3a3a3;
  padding: 0;
}
@media (max-width: 1070px) {
  .thoughts-container .samebcc .skills-column .dn {
    display: none;
  }
}
.thoughts-container .differentbcc {
  height: 25%;
  width: 100%;
  background: #1c1c1c;
}
.thoughts-container .differentbcc .differ {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 995px) {
  .thoughts-container .differentbcc .differ {
    display: block;
  }
}
.thoughts-container .differentbcc .differ .inputBtn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
@media (min-width: 996px) {
  .thoughts-container .differentbcc .differ .inputBtn {
    flex-direction: row;
  }
}
.thoughts-container .differentbcc .differ .inputBtn input {
  font-size: 1rem;
  padding: 0.4em 0;
  border-radius: 6px;
  outline: 0;
  background: 0;
  border: 1px solid #2c2c2c;
}
@media (max-width: 995px) {
  .thoughts-container .differentbcc .differ .inputBtn input {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.thoughts-container .differentbcc .differ .inputBtn .skill-btn {
  font-size: 1rem;
  padding: 0.5em 1em;
  background: #393939;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  color: #fafafa;
}
@media (max-width: 995px) {
  .thoughts-container .differentbcc .differ .inputBtn .skill-btn {
    display: block;
    margin: auto;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */